<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <DirectoryRef Id="INSTALLDIR">
            <Component Id="cmpEAADC52B3271083A1F1CD0732723AF62" Guid="*">
                <File Id="filE7FD4AC986746A877DE112376788A7F7" KeyPath="yes" Source="$(var.Spacearr.WorkerService.Windows.TargetDir)\appsettings.json" />
            </Component>
            <Component Id="cmp0C72558C08A20717122974AF36026E33" Guid="*">
                <File Id="fil5B25B9DC64EEF1FA313124471CE06C29" KeyPath="yes" Source="$(var.Spacearr.WorkerService.Windows.TargetDir)\FirebaseAdmin.dll" />
            </Component>
            <Component Id="cmp64BBECE222989F578B941C7F8D8B5DA8" Guid="*">
                <File Id="filEC3070843C16CA2231AF2108428B5176" KeyPath="yes" Source="$(var.Spacearr.WorkerService.Windows.TargetDir)\Google.Api.Gax.dll" />
            </Component>
            <Component Id="cmp8BB8CD8FF949F2463EE63EBC06911165" Guid="*">
                <File Id="filA2F931622639824DAC811869781CF9DE" KeyPath="yes" Source="$(var.Spacearr.WorkerService.Windows.TargetDir)\Google.Api.Gax.Rest.dll" />
            </Component>
            <Component Id="cmp5A811319324E0F0B65C16A3A4174CD11" Guid="*">
                <File Id="fil1F057C8C36384B949F6158EC31C628CA" KeyPath="yes" Source="$(var.Spacearr.WorkerService.Windows.TargetDir)\Google.Apis.Auth.dll" />
            </Component>
            <Component Id="cmp1C0F3877989C66F6A0EC9C31DACF37F9" Guid="*">
                <File Id="fil5CBEB31EA50925302391DD80ABADDED6" KeyPath="yes" Source="$(var.Spacearr.WorkerService.Windows.TargetDir)\Google.Apis.Auth.PlatformServices.dll" />
            </Component>
            <Component Id="cmpD801D1E4D45A38F1CA9A31AD27129F8A" Guid="*">
                <File Id="fil84FFA3E7902BD8C9CA253E464746EF45" KeyPath="yes" Source="$(var.Spacearr.WorkerService.Windows.TargetDir)\Google.Apis.Core.dll" />
            </Component>
            <Component Id="cmp4C435E30B81B42AA320AACB8D824643D" Guid="*">
                <File Id="filBF3FB9A0AA8763D06AED59394BED8C7D" KeyPath="yes" Source="$(var.Spacearr.WorkerService.Windows.TargetDir)\Google.Apis.dll" />
            </Component>
            <Component Id="cmp563A43F39E24E42002C62E6792CECBCE" Guid="*">
                <File Id="fil777128FD712BA0573FD9F4308302E81F" KeyPath="yes" Source="$(var.Spacearr.WorkerService.Windows.TargetDir)\LicenceAgreement.rtf" />
            </Component>
            <Component Id="cmpCAC92E068BAD24336F2E5BA91CAC66A4" Guid="*">
                <File Id="fil3B5367595C0B3849B9BF85E4E6382A65" KeyPath="yes" Source="$(var.Spacearr.WorkerService.Windows.TargetDir)\Microcharts.dll" />
            </Component>
            <Component Id="cmp0D9A10D690127C0AC268C669E46E66D0" Guid="*">
                <File Id="fil43161AE75FFE9B147B3E96990703538E" KeyPath="yes" Source="$(var.Spacearr.WorkerService.Windows.TargetDir)\Microsoft.Bcl.AsyncInterfaces.dll" />
            </Component>
            <Component Id="cmpD260DC351EC81A0F26BF7DFC4D4408EE" Guid="*">
                <File Id="fil1FEACF4D5D2B967B7918AD6377343597" KeyPath="yes" Source="$(var.Spacearr.WorkerService.Windows.TargetDir)\Microsoft.Extensions.Configuration.Abstractions.dll" />
            </Component>
            <Component Id="cmpC7FA0F5D4FC16B2C65069E101C3CDF1F" Guid="*">
                <File Id="fil670FF9D8C6C61DA8C38498D3D55763B6" KeyPath="yes" Source="$(var.Spacearr.WorkerService.Windows.TargetDir)\Microsoft.Extensions.Configuration.Binder.dll" />
            </Component>
            <Component Id="cmpBABBCF31608E14F805F5E15226A1AC36" Guid="*">
                <File Id="fil17651CBE4185A70D12BB76B9F50C8992" KeyPath="yes" Source="$(var.Spacearr.WorkerService.Windows.TargetDir)\Microsoft.Extensions.Configuration.CommandLine.dll" />
            </Component>
            <Component Id="cmpA68E778F1D7D2F60DB632AAD027FEA97" Guid="*">
                <File Id="filB8495885E80044AB9603F88738A4C9B4" KeyPath="yes" Source="$(var.Spacearr.WorkerService.Windows.TargetDir)\Microsoft.Extensions.Configuration.dll" />
            </Component>
            <Component Id="cmp774E04FAE91272C21B02D93240990FEF" Guid="*">
                <File Id="filBED52C83C4E04C6A7E0098335E7AA42B" KeyPath="yes" Source="$(var.Spacearr.WorkerService.Windows.TargetDir)\Microsoft.Extensions.Configuration.EnvironmentVariables.dll" />
            </Component>
            <Component Id="cmp298BC5B37CA8C07EC92A0E5D40538042" Guid="*">
                <File Id="fil48146EFA804659308973D873F0252345" KeyPath="yes" Source="$(var.Spacearr.WorkerService.Windows.TargetDir)\Microsoft.Extensions.Configuration.FileExtensions.dll" />
            </Component>
            <Component Id="cmp3DD83D520E625620C7BD4F55FD5768CD" Guid="*">
                <File Id="fil11B19ABE63105CD3CE2E7BC6F0B063FC" KeyPath="yes" Source="$(var.Spacearr.WorkerService.Windows.TargetDir)\Microsoft.Extensions.Configuration.Json.dll" />
            </Component>
            <Component Id="cmpE730231ED01417A686E3B1E936A33FD1" Guid="*">
                <File Id="fil2B496571F14090C6028DBC68CD7447B0" KeyPath="yes" Source="$(var.Spacearr.WorkerService.Windows.TargetDir)\Microsoft.Extensions.Configuration.UserSecrets.dll" />
            </Component>
            <Component Id="cmpBED9022C9CD94A23E72B0D422CCAEEC6" Guid="*">
                <File Id="fil2108D83F82D55B49D8103E27D77BDFDE" KeyPath="yes" Source="$(var.Spacearr.WorkerService.Windows.TargetDir)\Microsoft.Extensions.DependencyInjection.Abstractions.dll" />
            </Component>
            <Component Id="cmpFD639A9D3D4D6AA604F5EB7FB334C830" Guid="*">
                <File Id="filA516C15B7E61996C7D263C0A42814C3F" KeyPath="yes" Source="$(var.Spacearr.WorkerService.Windows.TargetDir)\Microsoft.Extensions.DependencyInjection.dll" />
            </Component>
            <Component Id="cmp9FD912282D15F41E038568645420F573" Guid="*">
                <File Id="fil62C6DEDCE27F3904041E09D4BA69211F" KeyPath="yes" Source="$(var.Spacearr.WorkerService.Windows.TargetDir)\Microsoft.Extensions.FileProviders.Abstractions.dll" />
            </Component>
            <Component Id="cmpE245AF4E56033540BBDFDF9AE650AD54" Guid="*">
                <File Id="filAF8DE62578E8AE75DF8E32E4296023C5" KeyPath="yes" Source="$(var.Spacearr.WorkerService.Windows.TargetDir)\Microsoft.Extensions.FileProviders.Physical.dll" />
            </Component>
            <Component Id="cmp63FBCF19029B83249CA57D9278E41E71" Guid="*">
                <File Id="fil264DD14CFE0C23400444D282D2288191" KeyPath="yes" Source="$(var.Spacearr.WorkerService.Windows.TargetDir)\Microsoft.Extensions.FileSystemGlobbing.dll" />
            </Component>
            <Component Id="cmp1E828701EA3C948D376A5202D22A1DB5" Guid="*">
                <File Id="fil3B6FE96BE1EF461A40851C70A5C8330B" KeyPath="yes" Source="$(var.Spacearr.WorkerService.Windows.TargetDir)\Microsoft.Extensions.Hosting.Abstractions.dll" />
            </Component>
            <Component Id="cmpF49CD85885673A79A480DE85F9D08E88" Guid="*">
                <File Id="filE7504F4F3DD30CBCF3A2FBC3D0CEC97E" KeyPath="yes" Source="$(var.Spacearr.WorkerService.Windows.TargetDir)\Microsoft.Extensions.Hosting.dll" />
            </Component>
            <Component Id="cmp98DD0D364E13DFC5F81C336FA41B0FA6" Guid="*">
                <File Id="filA8AD34ED0108A559B2C2CBD479868057" KeyPath="yes" Source="$(var.Spacearr.WorkerService.Windows.TargetDir)\Microsoft.Extensions.Hosting.WindowsServices.dll" />
            </Component>
            <Component Id="cmp8F9F07106E7690B5033E560CD36972AD" Guid="*">
                <File Id="fil99C4D92E14C510B2E3005545A5A0D96A" KeyPath="yes" Source="$(var.Spacearr.WorkerService.Windows.TargetDir)\Microsoft.Extensions.Logging.Abstractions.dll" />
            </Component>
            <Component Id="cmp8EBEDFA63D997B75A266C0F509A84C10" Guid="*">
                <File Id="fil09408F6B93161CA4A96684A50647E523" KeyPath="yes" Source="$(var.Spacearr.WorkerService.Windows.TargetDir)\Microsoft.Extensions.Logging.Configuration.dll" />
            </Component>
            <Component Id="cmp34C145F6C43DB932A164C7FFD1651355" Guid="*">
                <File Id="fil880F7A23C8BF051A7F37783D46CE6F88" KeyPath="yes" Source="$(var.Spacearr.WorkerService.Windows.TargetDir)\Microsoft.Extensions.Logging.Console.dll" />
            </Component>
            <Component Id="cmpA08F0F89A5D9D9B838A6E9888D7BF0CA" Guid="*">
                <File Id="fil74AD627A4B70E7805CA5377EBF72B52C" KeyPath="yes" Source="$(var.Spacearr.WorkerService.Windows.TargetDir)\Microsoft.Extensions.Logging.Debug.dll" />
            </Component>
            <Component Id="cmp34E43ECA5CE677CB8884066B2CD69B18" Guid="*">
                <File Id="fil82512A983DDE71FBAF4D091C6B51EF72" KeyPath="yes" Source="$(var.Spacearr.WorkerService.Windows.TargetDir)\Microsoft.Extensions.Logging.dll" />
            </Component>
            <Component Id="cmp10A7E66FF0B7F200B3C3ECB8FB7CCC30" Guid="*">
                <File Id="fil34FDF8DD0EBD8E7924A500B9E34678D9" KeyPath="yes" Source="$(var.Spacearr.WorkerService.Windows.TargetDir)\Microsoft.Extensions.Logging.EventLog.dll" />
            </Component>
            <Component Id="cmp6F40BC6A0F83850AE1B962DC69F747C0" Guid="*">
                <File Id="filEE0B86EE56ACC6191AF581C68E8E7FE6" KeyPath="yes" Source="$(var.Spacearr.WorkerService.Windows.TargetDir)\Microsoft.Extensions.Logging.EventSource.dll" />
            </Component>
            <Component Id="cmp5C6456A716AB613E8F89456DE14F4E27" Guid="*">
                <File Id="filC5F69BFCB66DC4F4FD2F2E10DBE0A0B2" KeyPath="yes" Source="$(var.Spacearr.WorkerService.Windows.TargetDir)\Microsoft.Extensions.Options.ConfigurationExtensions.dll" />
            </Component>
            <Component Id="cmp4608CA2FC66F221E808AF3FD03F56DEA" Guid="*">
                <File Id="fil29944CE24D2F4CE317941BCDFA8B5FE3" KeyPath="yes" Source="$(var.Spacearr.WorkerService.Windows.TargetDir)\Microsoft.Extensions.Options.dll" />
            </Component>
            <Component Id="cmpA57E038D78392C02DC9072B9436713ED" Guid="*">
                <File Id="fil101327A254DDD17E94E9880E128F3819" KeyPath="yes" Source="$(var.Spacearr.WorkerService.Windows.TargetDir)\Microsoft.Extensions.Primitives.dll" />
            </Component>
            <Component Id="cmp0CF5B14E86747BCFC1DDFCDF28AE4A82" Guid="*">
                <File Id="fil20B8F60F955E06C42916655EC36B7FF6" KeyPath="yes" Source="$(var.Spacearr.WorkerService.Windows.TargetDir)\Microsoft.Win32.Registry.dll" />
            </Component>
            <Component Id="cmp1874AB219070404EED322213C6A1A49E" Guid="*">
                <File Id="fil05FF769999D602AD4FA6A489C44ED290" KeyPath="yes" Source="$(var.Spacearr.WorkerService.Windows.TargetDir)\Newtonsoft.Json.dll" />
            </Component>
            <Component Id="cmp0D36A3C48751C2DAB72CDAFBC1DDCF3C" Guid="*">
                <File Id="filE30F38FA2E855A9BC05F4D3BC5FF519A" KeyPath="yes" Source="$(var.Spacearr.WorkerService.Windows.TargetDir)\Octokit.dll" />
            </Component>
            <Component Id="cmp1ED0686A3B9ECDF93F0C41C9F41B1516" Guid="*">
                <File Id="fil73A765805455E8EB1E9050E104D3F1E1" KeyPath="yes" Source="$(var.Spacearr.WorkerService.Windows.TargetDir)\PusherClient.dll" />
            </Component>
            <Component Id="cmpC3B0D028E3EAC1E9692976FD223F9B09" Guid="*">
                <File Id="fil162554681E47DF470052918D3C237A57" KeyPath="yes" Source="$(var.Spacearr.WorkerService.Windows.TargetDir)\PusherServer.Core.dll" />
            </Component>
            <Component Id="cmpFE32C4FE6DDD80D90FE4246D8DA70BCB" Guid="*">
                <File Id="filB646F077063F4EB033725EA0E5499818" KeyPath="yes" Source="$(var.Spacearr.WorkerService.Windows.TargetDir)\SkiaSharp.dll" />
            </Component>
            <Component Id="cmp7B2DB5C739460FD084EFD9A44043710E" Guid="*">
                <File Id="filFB5BCB6EBDA6C03546D87A2C8444589D" KeyPath="yes" Source="$(var.Spacearr.WorkerService.Windows.TargetDir)\Spacearr.Common.dll" />
            </Component>
            <Component Id="cmpB3C8D7D164F7C04606464051444D993E" Guid="*">
                <File Id="fil8EC8BDFDF951509BA5D5498BA204BBB1" KeyPath="yes" Source="$(var.Spacearr.WorkerService.Windows.TargetDir)\Spacearr.Common.pdb" />
            </Component>
            <Component Id="cmp6D29523019E887A2D32C24EA70F18A1F" Guid="*">
                <File Id="filC61323D895C3980AFB0426D31E711944" KeyPath="yes" Source="$(var.Spacearr.WorkerService.Windows.TargetDir)\Spacearr.Pusher.API.dll" />
            </Component>
            <Component Id="cmp08015A8C21D6E69A498021AB186C07AE" Guid="*">
                <File Id="fil09B3C72EAD58261D27B1A80B6FE61321" KeyPath="yes" Source="$(var.Spacearr.WorkerService.Windows.TargetDir)\Spacearr.Pusher.API.pdb" />
            </Component>
            <Component Id="cmpDB0B61CD6C1A98448561D52B00EF675B" Guid="*">
                <File Id="fil7B2284563934A51DF82457108689590A" KeyPath="yes" Source="$(var.Spacearr.WorkerService.Windows.TargetDir)\Spacearr.WorkerService.Windows.deps.json" />
            </Component>
            <Component Id="cmpF68CD7FB734C808DA8CC27064C4DEF8F" Guid="*">
                <File Id="filA36CC306CC5E08276149CD822552DD3F" KeyPath="yes" Source="$(var.Spacearr.WorkerService.Windows.TargetDir)\Spacearr.WorkerService.Windows.dll" />
            </Component>
            <Component Id="cmpD21F96155B34E833664954EB0AE2767B" Guid="*">
                <File Id="fil7B724A33ABA4353F22C26902A16EE701" KeyPath="yes" Source="$(var.Spacearr.WorkerService.Windows.TargetDir)\Spacearr.WorkerService.Windows.pdb" />
            </Component>
            <Component Id="cmp28DC1A0A3C90C14CC8D83A8BDAF575A7" Guid="*">
                <File Id="fil4CCBCC8E1DC40E9DDCE6389BC191A530" KeyPath="yes" Source="$(var.Spacearr.WorkerService.Windows.TargetDir)\Spacearr.WorkerService.Windows.runtimeconfig.dev.json" />
            </Component>
            <Component Id="cmp98C96B385DB603B20FAAD277D5703150" Guid="*">
                <File Id="fil4FDB4A6435CA3A2DDAFA688ACD45EEC0" KeyPath="yes" Source="$(var.Spacearr.WorkerService.Windows.TargetDir)\Spacearr.WorkerService.Windows.runtimeconfig.json" />
            </Component>
            <Component Id="cmp8B3D93ACCF652EB67119ADA86C950945" Guid="*">
                <File Id="fil14B371AF7590EC0D751549C4E2CF358B" KeyPath="yes" Source="$(var.Spacearr.WorkerService.Windows.TargetDir)\SQLite-net.dll" />
            </Component>
            <Component Id="cmpE71902039E0A0BCD77D19BFBD7C77DB0" Guid="*">
                <File Id="filFF4E4D2C3374A04A716FC4B956C191C1" KeyPath="yes" Source="$(var.Spacearr.WorkerService.Windows.TargetDir)\SQLitePCLRaw.batteries_v2.dll" />
            </Component>
            <Component Id="cmpA3DB674F64A31392C4634B20BEA7F1AD" Guid="*">
                <File Id="filC7B2B0D5301AF1732E400E399AA151F8" KeyPath="yes" Source="$(var.Spacearr.WorkerService.Windows.TargetDir)\SQLitePCLRaw.core.dll" />
            </Component>
            <Component Id="cmp12EC577DE66767A5D5FC798AE9CCBFEE" Guid="*">
                <File Id="fil54656DA8F41704414136C139E8DDB0C5" KeyPath="yes" Source="$(var.Spacearr.WorkerService.Windows.TargetDir)\SQLitePCLRaw.nativelibrary.dll" />
            </Component>
            <Component Id="cmpC431B8C44F44FA9938F4D85883F7A9D9" Guid="*">
                <File Id="fil0D8F56F6BD3407C3DA3CE19AB4DC3354" KeyPath="yes" Source="$(var.Spacearr.WorkerService.Windows.TargetDir)\SQLitePCLRaw.provider.dynamic_cdecl.dll" />
            </Component>
            <Component Id="cmpA183A96A501DA268BFF140E367815F98" Guid="*">
                <File Id="fil68F873ECD4B10BE169DF34299B808987" KeyPath="yes" Source="$(var.Spacearr.WorkerService.Windows.TargetDir)\SuperSocket.ClientEngine.dll" />
            </Component>
            <Component Id="cmpC18482804A75F3CE3935FDD75636F61C" Guid="*">
                <File Id="filC5B775C91D76CC8620ADF216382F0D98" KeyPath="yes" Source="$(var.Spacearr.WorkerService.Windows.TargetDir)\System.ComponentModel.Annotations.dll" />
            </Component>
            <Component Id="cmp2B7B87BFAC2BA8466981132E52CBD2BD" Guid="*">
                <File Id="fil976357B8D989AE43CC24329B78BCFA3C" KeyPath="yes" Source="$(var.Spacearr.WorkerService.Windows.TargetDir)\System.Diagnostics.EventLog.dll" />
            </Component>
            <Component Id="cmpC9B5A1EF0A94FC39898784F3FC54B825" Guid="*">
                <File Id="fil38785E10FB72D12D34EC0D5BAD353B48" KeyPath="yes" Source="$(var.Spacearr.WorkerService.Windows.TargetDir)\System.Interactive.Async.dll" />
            </Component>
            <Component Id="cmp04E7760BC247B05C847A4A6D5D8C7091" Guid="*">
                <File Id="fil8974B12282083EB6B4CB7BAC26546374" KeyPath="yes" Source="$(var.Spacearr.WorkerService.Windows.TargetDir)\System.Runtime.CompilerServices.Unsafe.dll" />
            </Component>
            <Component Id="cmp43A33CE3413979CC718E796B1C1E3E5B" Guid="*">
                <File Id="fil6E218B321475AAF07492F4993D21A018" KeyPath="yes" Source="$(var.Spacearr.WorkerService.Windows.TargetDir)\System.Security.AccessControl.dll" />
            </Component>
            <Component Id="cmp6AEFC17E20EAA1A80B51320D84CB4117" Guid="*">
                <File Id="fil79E5070652584CDC0B95879F06EF0079" KeyPath="yes" Source="$(var.Spacearr.WorkerService.Windows.TargetDir)\System.Security.Principal.Windows.dll" />
            </Component>
            <Component Id="cmp3583F5B2D2813A64EF5233959CEFC356" Guid="*">
                <File Id="filB28914151D597D4698AE1CB39AF52A84" KeyPath="yes" Source="$(var.Spacearr.WorkerService.Windows.TargetDir)\System.ServiceProcess.ServiceController.dll" />
            </Component>
            <Component Id="cmp206FF62AFB3A24778BAE485B63485052" Guid="*">
                <File Id="filB677743AECD8AD78DAE140FEA82D0294" KeyPath="yes" Source="$(var.Spacearr.WorkerService.Windows.TargetDir)\System.Text.Encodings.Web.dll" />
            </Component>
            <Component Id="cmpCDB39EEC233133D55C787C80B9972F09" Guid="*">
                <File Id="fil488CB682A18F35F874A0168ADCE0C287" KeyPath="yes" Source="$(var.Spacearr.WorkerService.Windows.TargetDir)\System.Text.Json.dll" />
            </Component>
            <Component Id="cmp65C5DCDC18863195929B24B6D4B618D9" Guid="*">
                <File Id="filB265742A642D0B7DD84221584C561D87" KeyPath="yes" Source="$(var.Spacearr.WorkerService.Windows.TargetDir)\WebSocket4Net.dll" />
            </Component>
            <Directory Id="dirB699B779DD859CB7CAD46DA4BC9017C0" Name="runtimes">
                <Directory Id="dirDE34A5D9DA326AF94323CD969E81CFDB" Name="alpine-x64">
                    <Directory Id="dir9D66867C3157AB91A239BB1B9A8AB69E" Name="native">
                        <Component Id="cmp23F1538C1654AD037E2B6624F9C6E50E" Guid="*">
                            <File Id="fil193E85A59CB764F2CAF9E69BB70D80B3" KeyPath="yes" Source="$(var.Spacearr.WorkerService.Windows.TargetDir)\runtimes\alpine-x64\native\libe_sqlite3.so" />
                        </Component>
                    </Directory>
                </Directory>
                <Directory Id="dir6A0DD301CF15D8CF75C184EDAB84EDE3" Name="linux-arm">
                    <Directory Id="dir527F319E54DE3BA7E208C1B49922E370" Name="native">
                        <Component Id="cmpE3CD299DC0A0301C0EE0F12F08612319" Guid="*">
                            <File Id="filB4BE262E2B11EFF178E0AAB0338AC88C" KeyPath="yes" Source="$(var.Spacearr.WorkerService.Windows.TargetDir)\runtimes\linux-arm\native\libe_sqlite3.so" />
                        </Component>
                    </Directory>
                </Directory>
                <Directory Id="dir648795AAE5F4F913627391A4EA26E0CA" Name="linux-arm64">
                    <Directory Id="dir38FADD28616AA30248688F1C3391711B" Name="native">
                        <Component Id="cmpC14471046E78F0184A2E397F3FD720BD" Guid="*">
                            <File Id="fil2A73FC5AB52C81EFA75AD3EB3A24A4E0" KeyPath="yes" Source="$(var.Spacearr.WorkerService.Windows.TargetDir)\runtimes\linux-arm64\native\libe_sqlite3.so" />
                        </Component>
                    </Directory>
                </Directory>
                <Directory Id="dir8D88A7FFF1E04881E4C3F73651C8B927" Name="linux-armel">
                    <Directory Id="dir9DF15FD547D9445F340A38C552E15E12" Name="native">
                        <Component Id="cmpED13D1727512ECF315D71BD5D2BEBED4" Guid="*">
                            <File Id="filDF250D83B15EFFA42CCB93B4E3254092" KeyPath="yes" Source="$(var.Spacearr.WorkerService.Windows.TargetDir)\runtimes\linux-armel\native\libe_sqlite3.so" />
                        </Component>
                    </Directory>
                </Directory>
                <Directory Id="dir4D7B880C4FE703BE89F59A4C15BBDDDB" Name="linux-musl-x64">
                    <Directory Id="dir040A6E9F01947FC2F82CC7A9D06E129D" Name="native">
                        <Component Id="cmp6DD3AE287F4DB09EC682C043209D58B9" Guid="*">
                            <File Id="filE6DA3EC59EA7019B61D32D6B6310C547" KeyPath="yes" Source="$(var.Spacearr.WorkerService.Windows.TargetDir)\runtimes\linux-musl-x64\native\libe_sqlite3.so" />
                        </Component>
                    </Directory>
                </Directory>
                <Directory Id="dir581565EAD245478E5C1264C30F9412AA" Name="linux-x64">
                    <Directory Id="dirA6B4FBEF7E59C2A1E3B19BDCDC5B7C10" Name="native">
                        <Component Id="cmp7A2D34893FB14D69E08B1ADB6DC4656A" Guid="*">
                            <File Id="filBE1FBD8E45893E91BACD6C517218DB8F" KeyPath="yes" Source="$(var.Spacearr.WorkerService.Windows.TargetDir)\runtimes\linux-x64\native\libe_sqlite3.so" />
                        </Component>
                    </Directory>
                </Directory>
                <Directory Id="dirB9868BF26C6C00A134BCFD6A16052F7B" Name="linux-x86">
                    <Directory Id="dirA676D4303CB657774FE24A0DB3004C2A" Name="native">
                        <Component Id="cmp965291B49D3EE050A6A0EC35B53E9277" Guid="*">
                            <File Id="filAA90DC54475AB4C8A667324CD77EC188" KeyPath="yes" Source="$(var.Spacearr.WorkerService.Windows.TargetDir)\runtimes\linux-x86\native\libe_sqlite3.so" />
                        </Component>
                    </Directory>
                </Directory>
                <Directory Id="dir7219DDC09AFF3666C3C03AE758FEBDE7" Name="osx">
                    <Directory Id="dirFD6B85B17B96B5D9455DD2D04A215107" Name="native">
                        <Component Id="cmpD58A0C2995943C95F9150DA2D540AC43" Guid="*">
                            <File Id="filEAD25F0208D81699705F7EF4866EE7BB" KeyPath="yes" Source="$(var.Spacearr.WorkerService.Windows.TargetDir)\runtimes\osx\native\libSkiaSharp.dylib" />
                        </Component>
                    </Directory>
                </Directory>
                <Directory Id="dir60342AC2F36131A93395A9F7A918352C" Name="osx-x64">
                    <Directory Id="dirBAAEF0AE5E1529C739674F4A11EDA905" Name="native">
                        <Component Id="cmp9898E72CA17275C1386A04ED41D7613B" Guid="*">
                            <File Id="fil226F01686132C0A1875B1D89860476B4" KeyPath="yes" Source="$(var.Spacearr.WorkerService.Windows.TargetDir)\runtimes\osx-x64\native\libe_sqlite3.dylib" />
                        </Component>
                    </Directory>
                </Directory>
                <Directory Id="dir3698D73701093C80C2E8F1EEECC58CA1" Name="tizen-armel">
                    <Directory Id="dirA5DBACA18080A39D5D7B2AEE6579BED7" Name="native">
                        <Component Id="cmp8719C82D1126E33E7354A8DC2CE14E9B" Guid="*">
                            <File Id="fil60BF81634022469A899F3C2282A5CB1D" KeyPath="yes" Source="$(var.Spacearr.WorkerService.Windows.TargetDir)\runtimes\tizen-armel\native\libSkiaSharp.so" />
                        </Component>
                    </Directory>
                </Directory>
                <Directory Id="dir9D8B31A4BAFDD75639C22BDBB501C123" Name="tizen-x86">
                    <Directory Id="dir16418D89D940208F29B7E6E133AD0E69" Name="native">
                        <Component Id="cmpFC1C3C3D41874B3BC1242ECA09D68C02" Guid="*">
                            <File Id="fil7A8273563D6991F9BCBB9FA0C6267D19" KeyPath="yes" Source="$(var.Spacearr.WorkerService.Windows.TargetDir)\runtimes\tizen-x86\native\libSkiaSharp.so" />
                        </Component>
                    </Directory>
                </Directory>
                <Directory Id="dir7D751612140E64D275382A8E09372899" Name="unix">
                    <Directory Id="dir6C30D04BD96F620328AC9AAA5E4B0F9B" Name="lib">
                        <Directory Id="dir790BB27D6E4F5B6A95574FBBC538D98F" Name="netcoreapp2.1">
                            <Component Id="cmp6F7DD91233B8D3F03A621B67FAED696A" Guid="*">
                                <File Id="fil33DE702DB2DB638CD8350E8F9E7ADC70" KeyPath="yes" Source="$(var.Spacearr.WorkerService.Windows.TargetDir)\runtimes\unix\lib\netcoreapp2.1\System.Security.Principal.Windows.dll" />
                            </Component>
                        </Directory>
                        <Directory Id="dir0916DDF2AD53358982EDBE61E6005F5C" Name="netstandard2.0">
                            <Component Id="cmp1030F24E453B81DBFB4340D8D2F5FDB3" Guid="*">
                                <File Id="fil8F6B0FFCBCE34AC5F4E5B9F54A31CCA4" KeyPath="yes" Source="$(var.Spacearr.WorkerService.Windows.TargetDir)\runtimes\unix\lib\netstandard2.0\Microsoft.Win32.Registry.dll" />
                            </Component>
                        </Directory>
                    </Directory>
                </Directory>
                <Directory Id="dir2C3E5AEEB2F7196C5A6FEEA1F79147DA" Name="win">
                    <Directory Id="dirF78421D30AE78B84FBB1AF80F70209FC" Name="lib">
                        <Directory Id="dir01EDB4E01E4AB4F5DD12EBD80C63A2A2" Name="netcoreapp2.0">
                            <Component Id="cmp89793E82A96F12516CCACC30E626FCA8" Guid="*">
                                <File Id="fil2D9F1510C0548A0009593B85141855B0" KeyPath="yes" Source="$(var.Spacearr.WorkerService.Windows.TargetDir)\runtimes\win\lib\netcoreapp2.0\System.Diagnostics.EventLog.dll" />
                            </Component>
                            <Component Id="cmp5166105DFBE58A468ADBE3463DB3D1DB" Guid="*">
                                <File Id="fil35DC29795C16CE1A0C365D57EF214F7D" KeyPath="yes" Source="$(var.Spacearr.WorkerService.Windows.TargetDir)\runtimes\win\lib\netcoreapp2.0\System.Security.AccessControl.dll" />
                            </Component>
                        </Directory>
                        <Directory Id="dir2C3D76D932FEC38ECE3CF992C9052F22" Name="netcoreapp2.1">
                            <Component Id="cmpC4D73F9F80E50DAED57164E334678A77" Guid="*">
                                <File Id="filA020936A4AA42AAF09F58E33915B2155" KeyPath="yes" Source="$(var.Spacearr.WorkerService.Windows.TargetDir)\runtimes\win\lib\netcoreapp2.1\System.Security.Principal.Windows.dll" />
                            </Component>
                        </Directory>
                        <Directory Id="dir4ABFCAFF8F5663EA33960B5072CC3395" Name="netstandard2.0">
                            <Component Id="cmp0BBDFC5E212C17C48CA7050D2A15E403" Guid="*">
                                <File Id="filF59894142CD8C7F704C0CB21D133CCC4" KeyPath="yes" Source="$(var.Spacearr.WorkerService.Windows.TargetDir)\runtimes\win\lib\netstandard2.0\Microsoft.Win32.Registry.dll" />
                            </Component>
                            <Component Id="cmp4423F37CEAF95FD3508E25DB2AF631A9" Guid="*">
                                <File Id="filEE9AE337825376797F0F1C8408716675" KeyPath="yes" Source="$(var.Spacearr.WorkerService.Windows.TargetDir)\runtimes\win\lib\netstandard2.0\System.ServiceProcess.ServiceController.dll" />
                            </Component>
                        </Directory>
                    </Directory>
                </Directory>
                <Directory Id="dir636A5F402A07296FB540C804C5408F70" Name="win-arm">
                    <Directory Id="dir3FE2CEE9794497F646BBB4CA70D70B40" Name="native">
                        <Component Id="cmpB5F18B348314F89582CB81F333C83CA8" Guid="*">
                            <File Id="fil6DB62037A19C00AFCF794A2FEDA38CB0" KeyPath="yes" Source="$(var.Spacearr.WorkerService.Windows.TargetDir)\runtimes\win-arm\native\e_sqlite3.dll" />
                        </Component>
                    </Directory>
                </Directory>
                <Directory Id="dir85A01EEDCA388CEBE492AC128D8D37CC" Name="win-arm64">
                    <Directory Id="dir8DE1CAE5F6B03F7A6BAE17D4E78639BA" Name="native">
                        <Component Id="cmp42D9D64959F7507D5ECF771FC3497378" Guid="*">
                            <File Id="fil4207DC84B883711211069FC3437A0B63" KeyPath="yes" Source="$(var.Spacearr.WorkerService.Windows.TargetDir)\runtimes\win-arm64\native\e_sqlite3.dll" />
                        </Component>
                    </Directory>
                </Directory>
                <Directory Id="dir98D160BE690DB35BE57FFB8F3DCF5AC7" Name="win-x64">
                    <Directory Id="dir2ED89DAEE76564AD33DB582F055A5274" Name="native">
                        <Component Id="cmp899837283D9010E897F5AC07FEF25C5A" Guid="*">
                            <File Id="fil8EE9084D4CDF9A70F325FD404A332595" KeyPath="yes" Source="$(var.Spacearr.WorkerService.Windows.TargetDir)\runtimes\win-x64\native\e_sqlite3.dll" />
                        </Component>
                        <Component Id="cmpCFBD1519D90E7BAAD4C5F065B89D7142" Guid="*">
                            <File Id="fil3260895A4D65A1E3F5220473616E3370" KeyPath="yes" Source="$(var.Spacearr.WorkerService.Windows.TargetDir)\runtimes\win-x64\native\libSkiaSharp.dll" />
                        </Component>
                    </Directory>
                </Directory>
                <Directory Id="dirF3038242710747884E86633F9CAF9B21" Name="win-x86">
                    <Directory Id="dir141099046F4229F01C3B534ABFD3E870" Name="native">
                        <Component Id="cmp40793708CF89033E4A94B5E0B005607D" Guid="*">
                            <File Id="fil5103F639AB760C00675F3F948CAA99D1" KeyPath="yes" Source="$(var.Spacearr.WorkerService.Windows.TargetDir)\runtimes\win-x86\native\e_sqlite3.dll" />
                        </Component>
                        <Component Id="cmp5CA8F4B0D9556352840682E2B9C6008A" Guid="*">
                            <File Id="filC9951DF617446EB0FB407B78BB2FEBC7" KeyPath="yes" Source="$(var.Spacearr.WorkerService.Windows.TargetDir)\runtimes\win-x86\native\libSkiaSharp.dll" />
                        </Component>
                    </Directory>
                </Directory>
            </Directory>
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <ComponentGroup Id="SpacearrWorkerServiceWindowsHeatGenerated">
            <ComponentRef Id="cmpEAADC52B3271083A1F1CD0732723AF62" />
            <ComponentRef Id="cmp0C72558C08A20717122974AF36026E33" />
            <ComponentRef Id="cmp64BBECE222989F578B941C7F8D8B5DA8" />
            <ComponentRef Id="cmp8BB8CD8FF949F2463EE63EBC06911165" />
            <ComponentRef Id="cmp5A811319324E0F0B65C16A3A4174CD11" />
            <ComponentRef Id="cmp1C0F3877989C66F6A0EC9C31DACF37F9" />
            <ComponentRef Id="cmpD801D1E4D45A38F1CA9A31AD27129F8A" />
            <ComponentRef Id="cmp4C435E30B81B42AA320AACB8D824643D" />
            <ComponentRef Id="cmp563A43F39E24E42002C62E6792CECBCE" />
            <ComponentRef Id="cmpCAC92E068BAD24336F2E5BA91CAC66A4" />
            <ComponentRef Id="cmp0D9A10D690127C0AC268C669E46E66D0" />
            <ComponentRef Id="cmpD260DC351EC81A0F26BF7DFC4D4408EE" />
            <ComponentRef Id="cmpC7FA0F5D4FC16B2C65069E101C3CDF1F" />
            <ComponentRef Id="cmpBABBCF31608E14F805F5E15226A1AC36" />
            <ComponentRef Id="cmpA68E778F1D7D2F60DB632AAD027FEA97" />
            <ComponentRef Id="cmp774E04FAE91272C21B02D93240990FEF" />
            <ComponentRef Id="cmp298BC5B37CA8C07EC92A0E5D40538042" />
            <ComponentRef Id="cmp3DD83D520E625620C7BD4F55FD5768CD" />
            <ComponentRef Id="cmpE730231ED01417A686E3B1E936A33FD1" />
            <ComponentRef Id="cmpBED9022C9CD94A23E72B0D422CCAEEC6" />
            <ComponentRef Id="cmpFD639A9D3D4D6AA604F5EB7FB334C830" />
            <ComponentRef Id="cmp9FD912282D15F41E038568645420F573" />
            <ComponentRef Id="cmpE245AF4E56033540BBDFDF9AE650AD54" />
            <ComponentRef Id="cmp63FBCF19029B83249CA57D9278E41E71" />
            <ComponentRef Id="cmp1E828701EA3C948D376A5202D22A1DB5" />
            <ComponentRef Id="cmpF49CD85885673A79A480DE85F9D08E88" />
            <ComponentRef Id="cmp98DD0D364E13DFC5F81C336FA41B0FA6" />
            <ComponentRef Id="cmp8F9F07106E7690B5033E560CD36972AD" />
            <ComponentRef Id="cmp8EBEDFA63D997B75A266C0F509A84C10" />
            <ComponentRef Id="cmp34C145F6C43DB932A164C7FFD1651355" />
            <ComponentRef Id="cmpA08F0F89A5D9D9B838A6E9888D7BF0CA" />
            <ComponentRef Id="cmp34E43ECA5CE677CB8884066B2CD69B18" />
            <ComponentRef Id="cmp10A7E66FF0B7F200B3C3ECB8FB7CCC30" />
            <ComponentRef Id="cmp6F40BC6A0F83850AE1B962DC69F747C0" />
            <ComponentRef Id="cmp5C6456A716AB613E8F89456DE14F4E27" />
            <ComponentRef Id="cmp4608CA2FC66F221E808AF3FD03F56DEA" />
            <ComponentRef Id="cmpA57E038D78392C02DC9072B9436713ED" />
            <ComponentRef Id="cmp0CF5B14E86747BCFC1DDFCDF28AE4A82" />
            <ComponentRef Id="cmp1874AB219070404EED322213C6A1A49E" />
            <ComponentRef Id="cmp0D36A3C48751C2DAB72CDAFBC1DDCF3C" />
            <ComponentRef Id="cmp1ED0686A3B9ECDF93F0C41C9F41B1516" />
            <ComponentRef Id="cmpC3B0D028E3EAC1E9692976FD223F9B09" />
            <ComponentRef Id="cmpFE32C4FE6DDD80D90FE4246D8DA70BCB" />
            <ComponentRef Id="cmp7B2DB5C739460FD084EFD9A44043710E" />
            <ComponentRef Id="cmpB3C8D7D164F7C04606464051444D993E" />
            <ComponentRef Id="cmp6D29523019E887A2D32C24EA70F18A1F" />
            <ComponentRef Id="cmp08015A8C21D6E69A498021AB186C07AE" />
            <ComponentRef Id="cmpDB0B61CD6C1A98448561D52B00EF675B" />
            <ComponentRef Id="cmpF68CD7FB734C808DA8CC27064C4DEF8F" />
            <ComponentRef Id="cmpD21F96155B34E833664954EB0AE2767B" />
            <ComponentRef Id="cmp28DC1A0A3C90C14CC8D83A8BDAF575A7" />
            <ComponentRef Id="cmp98C96B385DB603B20FAAD277D5703150" />
            <ComponentRef Id="cmp8B3D93ACCF652EB67119ADA86C950945" />
            <ComponentRef Id="cmpE71902039E0A0BCD77D19BFBD7C77DB0" />
            <ComponentRef Id="cmpA3DB674F64A31392C4634B20BEA7F1AD" />
            <ComponentRef Id="cmp12EC577DE66767A5D5FC798AE9CCBFEE" />
            <ComponentRef Id="cmpC431B8C44F44FA9938F4D85883F7A9D9" />
            <ComponentRef Id="cmpA183A96A501DA268BFF140E367815F98" />
            <ComponentRef Id="cmpC18482804A75F3CE3935FDD75636F61C" />
            <ComponentRef Id="cmp2B7B87BFAC2BA8466981132E52CBD2BD" />
            <ComponentRef Id="cmpC9B5A1EF0A94FC39898784F3FC54B825" />
            <ComponentRef Id="cmp04E7760BC247B05C847A4A6D5D8C7091" />
            <ComponentRef Id="cmp43A33CE3413979CC718E796B1C1E3E5B" />
            <ComponentRef Id="cmp6AEFC17E20EAA1A80B51320D84CB4117" />
            <ComponentRef Id="cmp3583F5B2D2813A64EF5233959CEFC356" />
            <ComponentRef Id="cmp206FF62AFB3A24778BAE485B63485052" />
            <ComponentRef Id="cmpCDB39EEC233133D55C787C80B9972F09" />
            <ComponentRef Id="cmp65C5DCDC18863195929B24B6D4B618D9" />
            <ComponentRef Id="cmp23F1538C1654AD037E2B6624F9C6E50E" />
            <ComponentRef Id="cmpE3CD299DC0A0301C0EE0F12F08612319" />
            <ComponentRef Id="cmpC14471046E78F0184A2E397F3FD720BD" />
            <ComponentRef Id="cmpED13D1727512ECF315D71BD5D2BEBED4" />
            <ComponentRef Id="cmp6DD3AE287F4DB09EC682C043209D58B9" />
            <ComponentRef Id="cmp7A2D34893FB14D69E08B1ADB6DC4656A" />
            <ComponentRef Id="cmp965291B49D3EE050A6A0EC35B53E9277" />
            <ComponentRef Id="cmpD58A0C2995943C95F9150DA2D540AC43" />
            <ComponentRef Id="cmp9898E72CA17275C1386A04ED41D7613B" />
            <ComponentRef Id="cmp8719C82D1126E33E7354A8DC2CE14E9B" />
            <ComponentRef Id="cmpFC1C3C3D41874B3BC1242ECA09D68C02" />
            <ComponentRef Id="cmp6F7DD91233B8D3F03A621B67FAED696A" />
            <ComponentRef Id="cmp1030F24E453B81DBFB4340D8D2F5FDB3" />
            <ComponentRef Id="cmp89793E82A96F12516CCACC30E626FCA8" />
            <ComponentRef Id="cmp5166105DFBE58A468ADBE3463DB3D1DB" />
            <ComponentRef Id="cmpC4D73F9F80E50DAED57164E334678A77" />
            <ComponentRef Id="cmp0BBDFC5E212C17C48CA7050D2A15E403" />
            <ComponentRef Id="cmp4423F37CEAF95FD3508E25DB2AF631A9" />
            <ComponentRef Id="cmpB5F18B348314F89582CB81F333C83CA8" />
            <ComponentRef Id="cmp42D9D64959F7507D5ECF771FC3497378" />
            <ComponentRef Id="cmp899837283D9010E897F5AC07FEF25C5A" />
            <ComponentRef Id="cmpCFBD1519D90E7BAAD4C5F065B89D7142" />
            <ComponentRef Id="cmp40793708CF89033E4A94B5E0B005607D" />
            <ComponentRef Id="cmp5CA8F4B0D9556352840682E2B9C6008A" />
        </ComponentGroup>
    </Fragment>
</Wix>