<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <DirectoryRef Id="INSTALLDIR2">
            <Component Id="cmp85B774700C435620BDD5395025CFA84D" Guid="*">
                <File Id="filED93CA45D96A758845AF70F48562E649" KeyPath="yes" Source="$(var.Spacearr.WorkerService.Windows.Updater.TargetDir)\appsettings.json" />
            </Component>
            <Component Id="cmpB8FF7C2E3895572B186F0701EF78FAB5" Guid="*">
                <File Id="filE21F71B9161F5E18AAF59F8018BA637F" KeyPath="yes" Source="$(var.Spacearr.WorkerService.Windows.Updater.TargetDir)\FirebaseAdmin.dll" />
            </Component>
            <Component Id="cmp3C83C90718D8148357F0DB5BEB6B64B2" Guid="*">
                <File Id="fil62E473B157799CFF8F76CD75F04BBF0C" KeyPath="yes" Source="$(var.Spacearr.WorkerService.Windows.Updater.TargetDir)\Google.Api.Gax.dll" />
            </Component>
            <Component Id="cmpB6A517D2EBD2E7AE86F76CC2E75BB1DB" Guid="*">
                <File Id="fil95DEFE63ED04C491A57A16BAAEA5907C" KeyPath="yes" Source="$(var.Spacearr.WorkerService.Windows.Updater.TargetDir)\Google.Api.Gax.Rest.dll" />
            </Component>
            <Component Id="cmp644DC4DCA86CFA348301EFD685BDDEDC" Guid="*">
                <File Id="fil926300D53839064E11BF5B1D692CA751" KeyPath="yes" Source="$(var.Spacearr.WorkerService.Windows.Updater.TargetDir)\Google.Apis.Auth.dll" />
            </Component>
            <Component Id="cmpE54FAD8572720C197F2CB9148B74EE44" Guid="*">
                <File Id="filEC5554175B56BE840606848A25909A84" KeyPath="yes" Source="$(var.Spacearr.WorkerService.Windows.Updater.TargetDir)\Google.Apis.Auth.PlatformServices.dll" />
            </Component>
            <Component Id="cmp1D2D19F44C1C8C6A051390027FBB39AB" Guid="*">
                <File Id="fil84FA838FDADE6DFA49747E965503C7C5" KeyPath="yes" Source="$(var.Spacearr.WorkerService.Windows.Updater.TargetDir)\Google.Apis.Core.dll" />
            </Component>
            <Component Id="cmp56B420CBC34F837E693928E35907D536" Guid="*">
                <File Id="filACDE89ADDAE587E71E54758DB2EB587A" KeyPath="yes" Source="$(var.Spacearr.WorkerService.Windows.Updater.TargetDir)\Google.Apis.dll" />
            </Component>
            <Component Id="cmpA2EEBBE36780EFA5262C035CA87AB505" Guid="*">
                <File Id="fil3E9985F97215AEE111039FA0A853681A" KeyPath="yes" Source="$(var.Spacearr.WorkerService.Windows.Updater.TargetDir)\Microcharts.dll" />
            </Component>
            <Component Id="cmpDF8F7BADC0D8C0248B00BC353EFF239D" Guid="*">
                <File Id="fil3B130B11249402C789C7335888649286" KeyPath="yes" Source="$(var.Spacearr.WorkerService.Windows.Updater.TargetDir)\Microsoft.Bcl.AsyncInterfaces.dll" />
            </Component>
            <Component Id="cmp4DDD08FA37E2B8C59D6E9BCC626D89CD" Guid="*">
                <File Id="fil8471721E4454CFE3D939925312EDC29B" KeyPath="yes" Source="$(var.Spacearr.WorkerService.Windows.Updater.TargetDir)\Microsoft.Deployment.Compression.Cab.dll" />
            </Component>
            <Component Id="cmp69F4A8071514857836FE236A568DB811" Guid="*">
                <File Id="fil3A6E239925D21DD90BD92B6DA80E88A6" KeyPath="yes" Source="$(var.Spacearr.WorkerService.Windows.Updater.TargetDir)\Microsoft.Deployment.Compression.dll" />
            </Component>
            <Component Id="cmpDBF645B6EDCB3E318F72F8AAA00D9337" Guid="*">
                <File Id="fil6EFDA9C5E00F2DE43387BD4B8A7342CA" KeyPath="yes" Source="$(var.Spacearr.WorkerService.Windows.Updater.TargetDir)\Microsoft.Deployment.WindowsInstaller.dll" />
            </Component>
            <Component Id="cmp62AFCB497D61F67D17861309785CD5CC" Guid="*">
                <File Id="fil4D51763B8249C72AD334CA865D8ED203" KeyPath="yes" Source="$(var.Spacearr.WorkerService.Windows.Updater.TargetDir)\Microsoft.Deployment.WindowsInstaller.Package.dll" />
            </Component>
            <Component Id="cmpA3E39C19C7196A655D1714A8EEFDCC0F" Guid="*">
                <File Id="filA4CF80D8C0E0D73967D071310A7EB44D" KeyPath="yes" Source="$(var.Spacearr.WorkerService.Windows.Updater.TargetDir)\Microsoft.Extensions.Configuration.Abstractions.dll" />
            </Component>
            <Component Id="cmp471870C61CB573F7DC7B023D8B44CC1F" Guid="*">
                <File Id="fil2E6D8AA7BD78EB261429F356018F0881" KeyPath="yes" Source="$(var.Spacearr.WorkerService.Windows.Updater.TargetDir)\Microsoft.Extensions.Configuration.Binder.dll" />
            </Component>
            <Component Id="cmp89D1012842F164BCF1F8B95B5D2FB5EA" Guid="*">
                <File Id="filC3228539019EB76CAD4850BC3663F749" KeyPath="yes" Source="$(var.Spacearr.WorkerService.Windows.Updater.TargetDir)\Microsoft.Extensions.Configuration.CommandLine.dll" />
            </Component>
            <Component Id="cmp316F89B01C5DAB47CBDB3CABB25E1831" Guid="*">
                <File Id="filE6C11927D31BBF95A3A66691E62B05EB" KeyPath="yes" Source="$(var.Spacearr.WorkerService.Windows.Updater.TargetDir)\Microsoft.Extensions.Configuration.dll" />
            </Component>
            <Component Id="cmpA86EC9609CD0627B3C2C1C9A91CFB087" Guid="*">
                <File Id="fil7B11113A1FC5B7E6E0341FBFBEE194F4" KeyPath="yes" Source="$(var.Spacearr.WorkerService.Windows.Updater.TargetDir)\Microsoft.Extensions.Configuration.EnvironmentVariables.dll" />
            </Component>
            <Component Id="cmp3F88B076AC4C287717F1637B59722661" Guid="*">
                <File Id="fil964D87791C9CBECB0646CE2C43B858AC" KeyPath="yes" Source="$(var.Spacearr.WorkerService.Windows.Updater.TargetDir)\Microsoft.Extensions.Configuration.FileExtensions.dll" />
            </Component>
            <Component Id="cmp1BE1FAB6EE23F9873C37C0388300B510" Guid="*">
                <File Id="fil5E40093C0688E685FFB6491D3C97DCF4" KeyPath="yes" Source="$(var.Spacearr.WorkerService.Windows.Updater.TargetDir)\Microsoft.Extensions.Configuration.Json.dll" />
            </Component>
            <Component Id="cmp30F392D0072E68548CDC3EFDCA6421CD" Guid="*">
                <File Id="fil8FACF7EF7E72E9EECCB217DEE656BAE1" KeyPath="yes" Source="$(var.Spacearr.WorkerService.Windows.Updater.TargetDir)\Microsoft.Extensions.Configuration.UserSecrets.dll" />
            </Component>
            <Component Id="cmp598068513D7F37B1B85F3C2CB3C13CFE" Guid="*">
                <File Id="fil7C9D5C4BA905BF65F3634430CA74F714" KeyPath="yes" Source="$(var.Spacearr.WorkerService.Windows.Updater.TargetDir)\Microsoft.Extensions.DependencyInjection.Abstractions.dll" />
            </Component>
            <Component Id="cmpC41BAA9E299B2920EDA79E5FE4B5340F" Guid="*">
                <File Id="fil835825149959EBB5A8842E5AEBA54F1F" KeyPath="yes" Source="$(var.Spacearr.WorkerService.Windows.Updater.TargetDir)\Microsoft.Extensions.DependencyInjection.dll" />
            </Component>
            <Component Id="cmpB53AA79EEBC53EE1BA8ACF9653238A1F" Guid="*">
                <File Id="fil0EC5EE4888DC0A01AC0619926F2A8858" KeyPath="yes" Source="$(var.Spacearr.WorkerService.Windows.Updater.TargetDir)\Microsoft.Extensions.FileProviders.Abstractions.dll" />
            </Component>
            <Component Id="cmpBA6C3F11408DB4C12682039A45747B39" Guid="*">
                <File Id="fil67899535ED360F7AA3244DDDAF7BD61D" KeyPath="yes" Source="$(var.Spacearr.WorkerService.Windows.Updater.TargetDir)\Microsoft.Extensions.FileProviders.Physical.dll" />
            </Component>
            <Component Id="cmp7E083971BB0B9709A3E972BCD37CD242" Guid="*">
                <File Id="fil8F759691528256A8B7DA4BDE79EBC496" KeyPath="yes" Source="$(var.Spacearr.WorkerService.Windows.Updater.TargetDir)\Microsoft.Extensions.FileSystemGlobbing.dll" />
            </Component>
            <Component Id="cmpB1217DD584223BDD42DF75A366EA3DF1" Guid="*">
                <File Id="filB1041DA2611C01507BC5954EFDBDA51A" KeyPath="yes" Source="$(var.Spacearr.WorkerService.Windows.Updater.TargetDir)\Microsoft.Extensions.Hosting.Abstractions.dll" />
            </Component>
            <Component Id="cmp94E0EEAE5EB638F90573E706DEB407D8" Guid="*">
                <File Id="filEF7E418AA80CF0B441C0C96034E72769" KeyPath="yes" Source="$(var.Spacearr.WorkerService.Windows.Updater.TargetDir)\Microsoft.Extensions.Hosting.dll" />
            </Component>
            <Component Id="cmp7D69ADD27170394385D3C874374C7B2A" Guid="*">
                <File Id="filFB25193C43D2926A820AADC32128CBD3" KeyPath="yes" Source="$(var.Spacearr.WorkerService.Windows.Updater.TargetDir)\Microsoft.Extensions.Hosting.WindowsServices.dll" />
            </Component>
            <Component Id="cmpB43DE93D282D761A2F3B2F21FADE06AA" Guid="*">
                <File Id="filCDCB73A502E9B68CA76E7E11CBD42618" KeyPath="yes" Source="$(var.Spacearr.WorkerService.Windows.Updater.TargetDir)\Microsoft.Extensions.Logging.Abstractions.dll" />
            </Component>
            <Component Id="cmpB3E6359E919B93BB9DE6BA36CB8A56C3" Guid="*">
                <File Id="filE7EC78561493676D030B9BE935C10299" KeyPath="yes" Source="$(var.Spacearr.WorkerService.Windows.Updater.TargetDir)\Microsoft.Extensions.Logging.Configuration.dll" />
            </Component>
            <Component Id="cmpB0F0F349C087467A3CE446FB492264A7" Guid="*">
                <File Id="fil67020DC4EA5B00B7450ABA312F391A8C" KeyPath="yes" Source="$(var.Spacearr.WorkerService.Windows.Updater.TargetDir)\Microsoft.Extensions.Logging.Console.dll" />
            </Component>
            <Component Id="cmpC5EBD1784A0C0037330840394B88E69B" Guid="*">
                <File Id="fil56A5672F4E70F9BC9470FCD2717D956E" KeyPath="yes" Source="$(var.Spacearr.WorkerService.Windows.Updater.TargetDir)\Microsoft.Extensions.Logging.Debug.dll" />
            </Component>
            <Component Id="cmp438DFFFFE750AD7CA62D3FC3FB6C48A3" Guid="*">
                <File Id="fil0AD4F5277645038B5D292ADA60352925" KeyPath="yes" Source="$(var.Spacearr.WorkerService.Windows.Updater.TargetDir)\Microsoft.Extensions.Logging.dll" />
            </Component>
            <Component Id="cmpC53E8808042C88C041A96FF720980A74" Guid="*">
                <File Id="fil5DB6CCEB319D15D5AD0BCF60D577B1FA" KeyPath="yes" Source="$(var.Spacearr.WorkerService.Windows.Updater.TargetDir)\Microsoft.Extensions.Logging.EventLog.dll" />
            </Component>
            <Component Id="cmpF2EE769E4302A50B3802BA5A3CE49DAC" Guid="*">
                <File Id="fil7F1D9A0549AEBC0618F1E26FFDFDE822" KeyPath="yes" Source="$(var.Spacearr.WorkerService.Windows.Updater.TargetDir)\Microsoft.Extensions.Logging.EventSource.dll" />
            </Component>
            <Component Id="cmp5632750C7EC7B8578D0105C76BC0B9C5" Guid="*">
                <File Id="fil031E75C010C128955041A26DC40EEDBF" KeyPath="yes" Source="$(var.Spacearr.WorkerService.Windows.Updater.TargetDir)\Microsoft.Extensions.Options.ConfigurationExtensions.dll" />
            </Component>
            <Component Id="cmp0FB4FCCDF1AC43721B9DD0F68E53AAB4" Guid="*">
                <File Id="fil21262EDE2837EBBFADFFEF10CD00ADCA" KeyPath="yes" Source="$(var.Spacearr.WorkerService.Windows.Updater.TargetDir)\Microsoft.Extensions.Options.dll" />
            </Component>
            <Component Id="cmpE9E5443133D59BEF11FACF0F8844DF58" Guid="*">
                <File Id="filC86257790055B1607BF79268D0E53A57" KeyPath="yes" Source="$(var.Spacearr.WorkerService.Windows.Updater.TargetDir)\Microsoft.Extensions.Primitives.dll" />
            </Component>
            <Component Id="cmp747D332DA3FFBCEC40CA53CAE1EEB36C" Guid="*">
                <File Id="fil8A32998C5DD45F4A074C799EF2C1D958" KeyPath="yes" Source="$(var.Spacearr.WorkerService.Windows.Updater.TargetDir)\Microsoft.Win32.Registry.dll" />
            </Component>
            <Component Id="cmp6DFBAD4F6828DFE4F2CA9D37BAC8FB43" Guid="*">
                <File Id="fil96363D158EB8FAA9A6DBCE061795E0F4" KeyPath="yes" Source="$(var.Spacearr.WorkerService.Windows.Updater.TargetDir)\Newtonsoft.Json.dll" />
            </Component>
            <Component Id="cmp11B74D89CB0186FF7A497ACD687A6BC8" Guid="*">
                <File Id="fil58EABCE6721565667D9581B9AB8D3592" KeyPath="yes" Source="$(var.Spacearr.WorkerService.Windows.Updater.TargetDir)\Octokit.dll" />
            </Component>
            <Component Id="cmp0C922C8CDABDFE65BCC948C1C9EA2D08" Guid="*">
                <File Id="fil24C8C581C98FF308470216E4FAAA4E1F" KeyPath="yes" Source="$(var.Spacearr.WorkerService.Windows.Updater.TargetDir)\PusherClient.dll" />
            </Component>
            <Component Id="cmpB95EBFAF9D0335876532C7DCFD28CB67" Guid="*">
                <File Id="filCAB580862DED75832EC33AE043F5F527" KeyPath="yes" Source="$(var.Spacearr.WorkerService.Windows.Updater.TargetDir)\PusherServer.Core.dll" />
            </Component>
            <Component Id="cmp1EE4A1546AAD7731D8AAEE02B1C72FD0" Guid="*">
                <File Id="filECDE75B6CBB0F258B3DDDAD0822729BF" KeyPath="yes" Source="$(var.Spacearr.WorkerService.Windows.Updater.TargetDir)\SkiaSharp.dll" />
            </Component>
            <Component Id="cmp1A247330ECDD66422958C8CB514797D3" Guid="*">
                <File Id="fil855259985996E1D7E535966FAB134B4F" KeyPath="yes" Source="$(var.Spacearr.WorkerService.Windows.Updater.TargetDir)\Spacearr.Common.dll" />
            </Component>
            <Component Id="cmpEFCE006D690B366CA239DC55FB17D6A7" Guid="*">
                <File Id="filCBDDC2624DD21E045BD7FC4BECDAFEF0" KeyPath="yes" Source="$(var.Spacearr.WorkerService.Windows.Updater.TargetDir)\Spacearr.Common.pdb" />
            </Component>
            <Component Id="cmpAB8E70B93E07B1B98CAB49786F0DDF36" Guid="*">
                <File Id="fil087C3D3F41AEDD1B061C1529AC00ED15" KeyPath="yes" Source="$(var.Spacearr.WorkerService.Windows.Updater.TargetDir)\Spacearr.WorkerService.Windows.Updater.deps.json" />
            </Component>
            <Component Id="cmp6B149A551E06E84F46E5F26BF327230B" Guid="*">
                <File Id="fil70FF987A997BEB72E143276A7F9E8E7A" KeyPath="yes" Source="$(var.Spacearr.WorkerService.Windows.Updater.TargetDir)\Spacearr.WorkerService.Windows.Updater.dll" />
            </Component>
            <Component Id="cmp5F23BE129756DB63A22341CD829A7F86" Guid="*">
                <File Id="filF58436F4E8BA49CAB3BD44CF768CD2A8" KeyPath="yes" Source="$(var.Spacearr.WorkerService.Windows.Updater.TargetDir)\Spacearr.WorkerService.Windows.Updater.pdb" />
            </Component>
            <Component Id="cmpD972B8239916FE21FAD3C1332D3268E8" Guid="*">
                <File Id="fil627FC51255C68C0BC6DF78D15F41E5A5" KeyPath="yes" Source="$(var.Spacearr.WorkerService.Windows.Updater.TargetDir)\Spacearr.WorkerService.Windows.Updater.runtimeconfig.dev.json" />
            </Component>
            <Component Id="cmp26B2162A9B2A7848613CA8E29768F231" Guid="*">
                <File Id="filE8436C43FFF91CDB39CBD13AA576C27F" KeyPath="yes" Source="$(var.Spacearr.WorkerService.Windows.Updater.TargetDir)\Spacearr.WorkerService.Windows.Updater.runtimeconfig.json" />
            </Component>
            <Component Id="cmpC48A2EB60D6CF078DB06BED3DD7A4605" Guid="*">
                <File Id="filE25C2CBF8D3AA2CB9D714EC871CDA281" KeyPath="yes" Source="$(var.Spacearr.WorkerService.Windows.Updater.TargetDir)\Spacearr.WorkerService.Windows.Updater.SQLite.db3" />
            </Component>
            <Component Id="cmp2B17DA3B0E6CBBB4C571A0847322F670" Guid="*">
                <File Id="fil6C00DA2A21662CA0273A4852F2461ACF" KeyPath="yes" Source="$(var.Spacearr.WorkerService.Windows.Updater.TargetDir)\SQLite-net.dll" />
            </Component>
            <Component Id="cmpD10F13D4D54683858391BBF129BCA671" Guid="*">
                <File Id="filEDB9ADB9B3CF1BAA74CC5548CB8A07A4" KeyPath="yes" Source="$(var.Spacearr.WorkerService.Windows.Updater.TargetDir)\SQLitePCLRaw.batteries_v2.dll" />
            </Component>
            <Component Id="cmpD943E0D7F446F7B0954317BE805C7699" Guid="*">
                <File Id="filC930F8B3226165C817667B8FC8E61F8F" KeyPath="yes" Source="$(var.Spacearr.WorkerService.Windows.Updater.TargetDir)\SQLitePCLRaw.core.dll" />
            </Component>
            <Component Id="cmp971ECD6EB9909586A5C8A57932B0A699" Guid="*">
                <File Id="fil62D5BDDD0B86C3BE2E1C8F6C26BCC579" KeyPath="yes" Source="$(var.Spacearr.WorkerService.Windows.Updater.TargetDir)\SQLitePCLRaw.nativelibrary.dll" />
            </Component>
            <Component Id="cmp7C34F85C80E63BDB301E797EF16093B4" Guid="*">
                <File Id="filE46DDFCA2634C10506E4AF6A8A9E7EB4" KeyPath="yes" Source="$(var.Spacearr.WorkerService.Windows.Updater.TargetDir)\SQLitePCLRaw.provider.dynamic_cdecl.dll" />
            </Component>
            <Component Id="cmpF7CBD8DA8AA958D416B22BD7A4C06CD1" Guid="*">
                <File Id="fil18D879478399DFCB82E172A7677F98A6" KeyPath="yes" Source="$(var.Spacearr.WorkerService.Windows.Updater.TargetDir)\SuperSocket.ClientEngine.dll" />
            </Component>
            <Component Id="cmp444B50E1121E49C75225156223CCB759" Guid="*">
                <File Id="filD857EDE2A24C7468E17DC2CCAAC6DD9A" KeyPath="yes" Source="$(var.Spacearr.WorkerService.Windows.Updater.TargetDir)\System.ComponentModel.Annotations.dll" />
            </Component>
            <Component Id="cmp812360E3242155D69A8D805185B16DFC" Guid="*">
                <File Id="fil15AEEB6E2C377BBC383F6B6083744350" KeyPath="yes" Source="$(var.Spacearr.WorkerService.Windows.Updater.TargetDir)\System.Diagnostics.EventLog.dll" />
            </Component>
            <Component Id="cmp454298EA370E8ABB2114ACE0A97BCA20" Guid="*">
                <File Id="fil161E9934E262D88A76BB9CC59AEAB78F" KeyPath="yes" Source="$(var.Spacearr.WorkerService.Windows.Updater.TargetDir)\System.Interactive.Async.dll" />
            </Component>
            <Component Id="cmp883F2520C8BE982C0057C93ABE9C75F2" Guid="*">
                <File Id="fil418CF1ED6FFE7B94E413AC5372300E18" KeyPath="yes" Source="$(var.Spacearr.WorkerService.Windows.Updater.TargetDir)\System.Runtime.CompilerServices.Unsafe.dll" />
            </Component>
            <Component Id="cmpEB166911D81C77A0F69F5DEF51BD65E3" Guid="*">
                <File Id="fil1CE12A3924F2940183A54ECECFD61F0C" KeyPath="yes" Source="$(var.Spacearr.WorkerService.Windows.Updater.TargetDir)\System.Security.AccessControl.dll" />
            </Component>
            <Component Id="cmpD1EF0FBC6EE304103669E0CE5070951D" Guid="*">
                <File Id="fil909F84EEBBBDCC70837B290F1D77E753" KeyPath="yes" Source="$(var.Spacearr.WorkerService.Windows.Updater.TargetDir)\System.Security.Principal.Windows.dll" />
            </Component>
            <Component Id="cmp0B9D397F642F3AD924CB11DEBB44A66F" Guid="*">
                <File Id="fil5057F2902EF9933B14CE2874DEF852BA" KeyPath="yes" Source="$(var.Spacearr.WorkerService.Windows.Updater.TargetDir)\System.ServiceProcess.ServiceController.dll" />
            </Component>
            <Component Id="cmp9DF9AD3D64623B9BFD9F52D7299379BB" Guid="*">
                <File Id="fil921B7AFACA7C4AA2752BB9B592AD5573" KeyPath="yes" Source="$(var.Spacearr.WorkerService.Windows.Updater.TargetDir)\System.Text.Encodings.Web.dll" />
            </Component>
            <Component Id="cmpA5D60BB072797463B1108AD03E67AE86" Guid="*">
                <File Id="fil13DB47FE04B068B313338767938E31CF" KeyPath="yes" Source="$(var.Spacearr.WorkerService.Windows.Updater.TargetDir)\System.Text.Json.dll" />
            </Component>
            <Component Id="cmp0665238B7B1DEFD8B5DCCD8FDB36287F" Guid="*">
                <File Id="filABE31684C66B5CDEBA3BBE0F4AC26A88" KeyPath="yes" Source="$(var.Spacearr.WorkerService.Windows.Updater.TargetDir)\WebSocket4Net.dll" />
            </Component>
            <Directory Id="dir9DCBF0487D6188172F56A85D3B1853BB" Name="runtimes">
                <Directory Id="dir9F3C7D97D34562FE70BD367331FC36F1" Name="alpine-x64">
                    <Directory Id="dir5493FFFF3DEF22E8F6543591FEEBCC39" Name="native">
                        <Component Id="cmpCEF5B5DE0A79089F4BB8583E169FCD0E" Guid="*">
                            <File Id="filAA2405C18A56B48C06E780339385CCE7" KeyPath="yes" Source="$(var.Spacearr.WorkerService.Windows.Updater.TargetDir)\runtimes\alpine-x64\native\libe_sqlite3.so" />
                        </Component>
                    </Directory>
                </Directory>
                <Directory Id="dir100583770736CE97F27A599FF23AB0FC" Name="linux-arm">
                    <Directory Id="dir58FBE0E7AE1BA86C259564BEF14CED67" Name="native">
                        <Component Id="cmp9EACAE1E39D6C406B75696C71DC99294" Guid="*">
                            <File Id="fil711422968D7B65362CC12DB0E332278C" KeyPath="yes" Source="$(var.Spacearr.WorkerService.Windows.Updater.TargetDir)\runtimes\linux-arm\native\libe_sqlite3.so" />
                        </Component>
                    </Directory>
                </Directory>
                <Directory Id="dir37B52CF246D0B47135DC33A6D5E2E6AA" Name="linux-arm64">
                    <Directory Id="dir96C550EBDF663D44C795E43DB26A5ADB" Name="native">
                        <Component Id="cmpA33E38932860857C3888EE4EBA29B2F5" Guid="*">
                            <File Id="fil57DAD75A493EDC51E394B256B2E696EF" KeyPath="yes" Source="$(var.Spacearr.WorkerService.Windows.Updater.TargetDir)\runtimes\linux-arm64\native\libe_sqlite3.so" />
                        </Component>
                    </Directory>
                </Directory>
                <Directory Id="dir54BC9861D7E49DE88703931FCB5F66F4" Name="linux-armel">
                    <Directory Id="dir02FE54FF1EB7FAA3BBB3C6A51AC9B7E4" Name="native">
                        <Component Id="cmp5135604F0E14792544250383EE360EC8" Guid="*">
                            <File Id="fil45AF3F47C2D528E0D4AE1DEBC9A7B1D1" KeyPath="yes" Source="$(var.Spacearr.WorkerService.Windows.Updater.TargetDir)\runtimes\linux-armel\native\libe_sqlite3.so" />
                        </Component>
                    </Directory>
                </Directory>
                <Directory Id="dir8433A0FBE8F5F0B0D2C823F07B7ADFB9" Name="linux-musl-x64">
                    <Directory Id="dir95BBF39C9FA619475686880B8B583749" Name="native">
                        <Component Id="cmp937D8FC038B5EEC86B2A6416EB53ABDF" Guid="*">
                            <File Id="filF3FBB1D958BDAAB9925F838FB5E41534" KeyPath="yes" Source="$(var.Spacearr.WorkerService.Windows.Updater.TargetDir)\runtimes\linux-musl-x64\native\libe_sqlite3.so" />
                        </Component>
                    </Directory>
                </Directory>
                <Directory Id="dir59C35D58291BF924E48FA3C6CB144688" Name="linux-x64">
                    <Directory Id="dir891BF3525384A24D50845093FAF11F48" Name="native">
                        <Component Id="cmp8F3E720384074DB35643E3E227E7CAB5" Guid="*">
                            <File Id="fil99247E6532EF370D91709CB62359FB5B" KeyPath="yes" Source="$(var.Spacearr.WorkerService.Windows.Updater.TargetDir)\runtimes\linux-x64\native\libe_sqlite3.so" />
                        </Component>
                    </Directory>
                </Directory>
                <Directory Id="dirD7AC306757D2DEA3C2A6396E7D4B26D8" Name="linux-x86">
                    <Directory Id="dir1EB3FEABCA49722FF7E51E1EC052B6AA" Name="native">
                        <Component Id="cmp977EE8FE0F83C35DCFEEBB585BC51C52" Guid="*">
                            <File Id="fil38A7904E9D07FBBC3D5CE86CAC781FC4" KeyPath="yes" Source="$(var.Spacearr.WorkerService.Windows.Updater.TargetDir)\runtimes\linux-x86\native\libe_sqlite3.so" />
                        </Component>
                    </Directory>
                </Directory>
                <Directory Id="dir704BDA83AF9FF21EFA7F782708BA9295" Name="osx">
                    <Directory Id="dirCE7216ECB397BDE6FE0D90E067087DF1" Name="native">
                        <Component Id="cmp5A0F907B050151EBC13E472247B1E52A" Guid="*">
                            <File Id="fil2D639C34E783835DDA33BFB7BC81755A" KeyPath="yes" Source="$(var.Spacearr.WorkerService.Windows.Updater.TargetDir)\runtimes\osx\native\libSkiaSharp.dylib" />
                        </Component>
                    </Directory>
                </Directory>
                <Directory Id="dir3BFC4B2C73BAC9166D2668429FC92F38" Name="osx-x64">
                    <Directory Id="dirD086672C13E65BD0B92F666FAB0A070D" Name="native">
                        <Component Id="cmp1288FDF7524FF15654D3A284EF316166" Guid="*">
                            <File Id="fil4A388D5208D5890F91EDC53930E6A3F6" KeyPath="yes" Source="$(var.Spacearr.WorkerService.Windows.Updater.TargetDir)\runtimes\osx-x64\native\libe_sqlite3.dylib" />
                        </Component>
                    </Directory>
                </Directory>
                <Directory Id="dir76C220F77845029D14CE59B0AF2C9FB3" Name="tizen-armel">
                    <Directory Id="dir42E102CA8A3C939B8272447E1970B588" Name="native">
                        <Component Id="cmp35F0FD795E6E3AB9C564AF93AD5E7E78" Guid="*">
                            <File Id="fil363194B15177DB36DA41638A28DC69AD" KeyPath="yes" Source="$(var.Spacearr.WorkerService.Windows.Updater.TargetDir)\runtimes\tizen-armel\native\libSkiaSharp.so" />
                        </Component>
                    </Directory>
                </Directory>
                <Directory Id="dirEC3B2A7279B82E819E4754467B761E0C" Name="tizen-x86">
                    <Directory Id="dir749E5D89DFB7BE2B4D6B0667238B15B3" Name="native">
                        <Component Id="cmp4EE6792A0C5A18DB64C5E814D3495615" Guid="*">
                            <File Id="filCCD20396620BF17DDD49A1C642322E74" KeyPath="yes" Source="$(var.Spacearr.WorkerService.Windows.Updater.TargetDir)\runtimes\tizen-x86\native\libSkiaSharp.so" />
                        </Component>
                    </Directory>
                </Directory>
                <Directory Id="dir271C228F2A51ACEF34BB8083DD518E2F" Name="unix">
                    <Directory Id="dirEE80F6E85AEDFB59696D6168235BEC5B" Name="lib">
                        <Directory Id="dir6AA2BC72C9BF180F4F341A357BD9B9B6" Name="netcoreapp2.1">
                            <Component Id="cmp1C577E186ECCBF0158951E9C7B2EE01B" Guid="*">
                                <File Id="fil5F36174FA5C0689A8B6891C5FC487CE7" KeyPath="yes" Source="$(var.Spacearr.WorkerService.Windows.Updater.TargetDir)\runtimes\unix\lib\netcoreapp2.1\System.Security.Principal.Windows.dll" />
                            </Component>
                        </Directory>
                        <Directory Id="dir6FB455961DE06C746EB05C05923808EB" Name="netstandard2.0">
                            <Component Id="cmp79BA00E869C0F57153311211F452282B" Guid="*">
                                <File Id="fil29957E1DCF806CCA96E5058EAF701269" KeyPath="yes" Source="$(var.Spacearr.WorkerService.Windows.Updater.TargetDir)\runtimes\unix\lib\netstandard2.0\Microsoft.Win32.Registry.dll" />
                            </Component>
                        </Directory>
                    </Directory>
                </Directory>
                <Directory Id="dir401E5E1186307042BBA63A507B9B6F9F" Name="win">
                    <Directory Id="dirE1DFA616D8BEC0FECDEE87CF16788BCB" Name="lib">
                        <Directory Id="dirA9BDB91F9B78E1274C30296F7657CC9A" Name="netcoreapp2.0">
                            <Component Id="cmp4B5A82AA2AD0DF3D290CE450372B0D7D" Guid="*">
                                <File Id="fil5AC7A561A5DEEB913F6672E3794CEC29" KeyPath="yes" Source="$(var.Spacearr.WorkerService.Windows.Updater.TargetDir)\runtimes\win\lib\netcoreapp2.0\System.Diagnostics.EventLog.dll" />
                            </Component>
                            <Component Id="cmp56E96ECFAA7F72C9D5F3ED454C6276B1" Guid="*">
                                <File Id="fil5DD84808B358775A954C24CFB98ABBC1" KeyPath="yes" Source="$(var.Spacearr.WorkerService.Windows.Updater.TargetDir)\runtimes\win\lib\netcoreapp2.0\System.Security.AccessControl.dll" />
                            </Component>
                        </Directory>
                        <Directory Id="dir209FACD672B97B05857F05652FEAD192" Name="netcoreapp2.1">
                            <Component Id="cmp03332692BEAAA57C9039A326A624FB4F" Guid="*">
                                <File Id="fil57B422529809405EC13BA8B1AC369734" KeyPath="yes" Source="$(var.Spacearr.WorkerService.Windows.Updater.TargetDir)\runtimes\win\lib\netcoreapp2.1\System.Security.Principal.Windows.dll" />
                            </Component>
                        </Directory>
                        <Directory Id="dirE63B4A7B1F980BCF0BCE942C0573AA8E" Name="netstandard2.0">
                            <Component Id="cmp2CA4F21C7A3B9DA1C41CF37F73CCA893" Guid="*">
                                <File Id="fil415A1D9C7ED97840CD69C5029A86D698" KeyPath="yes" Source="$(var.Spacearr.WorkerService.Windows.Updater.TargetDir)\runtimes\win\lib\netstandard2.0\Microsoft.Win32.Registry.dll" />
                            </Component>
                            <Component Id="cmpBB3BECDFF520B54C2EE38CF4A7DB71BF" Guid="*">
                                <File Id="filC3E92AFCDD736C508A41D0394D735C64" KeyPath="yes" Source="$(var.Spacearr.WorkerService.Windows.Updater.TargetDir)\runtimes\win\lib\netstandard2.0\System.ServiceProcess.ServiceController.dll" />
                            </Component>
                        </Directory>
                    </Directory>
                </Directory>
                <Directory Id="dir715C842FB3D532C0D6E30B18FF295184" Name="win-arm">
                    <Directory Id="dir4DFA8B8EF439EF3BCEC98E846F6A3AE1" Name="native">
                        <Component Id="cmp9E5D9CE81577C7BE92E132363145EDCD" Guid="*">
                            <File Id="filA960E9AEEBA441FF356771161FCDD5BA" KeyPath="yes" Source="$(var.Spacearr.WorkerService.Windows.Updater.TargetDir)\runtimes\win-arm\native\e_sqlite3.dll" />
                        </Component>
                    </Directory>
                </Directory>
                <Directory Id="dirA1994CC3881DE14BA01C298FAF254557" Name="win-arm64">
                    <Directory Id="dir18067BC348560FACF327C926F05778D6" Name="native">
                        <Component Id="cmp91B38CB0E6CEDBE2976D8F698B8BA8A7" Guid="*">
                            <File Id="fil05B615C35E97C39F94B2BC6D7870202B" KeyPath="yes" Source="$(var.Spacearr.WorkerService.Windows.Updater.TargetDir)\runtimes\win-arm64\native\e_sqlite3.dll" />
                        </Component>
                    </Directory>
                </Directory>
                <Directory Id="dir9BDFF547F060D351DF336B499CEA0619" Name="win-x64">
                    <Directory Id="dir4B3CC50B937220F0326FFBEF33094DAE" Name="native">
                        <Component Id="cmp0F59944E6CC4502A59F443BF7CC2DC54" Guid="*">
                            <File Id="fil25707AAB820769C462EAC2704080B533" KeyPath="yes" Source="$(var.Spacearr.WorkerService.Windows.Updater.TargetDir)\runtimes\win-x64\native\e_sqlite3.dll" />
                        </Component>
                        <Component Id="cmp8E9279CB4E99E3FDDDFDBA09B8120EC4" Guid="*">
                            <File Id="filB849F39C0B309D0B3EAD6A2DBF675D26" KeyPath="yes" Source="$(var.Spacearr.WorkerService.Windows.Updater.TargetDir)\runtimes\win-x64\native\libSkiaSharp.dll" />
                        </Component>
                    </Directory>
                </Directory>
                <Directory Id="dir101DFC6D42EAF85FA5F8E3C106B33E5A" Name="win-x86">
                    <Directory Id="dir3BC5A5393D9DAF7EA749112B48C5CCE4" Name="native">
                        <Component Id="cmp0367F6C2384A32B1364E5ACAC401E034" Guid="*">
                            <File Id="fil373DEBAE3551F3DEE2609E3BC096A46B" KeyPath="yes" Source="$(var.Spacearr.WorkerService.Windows.Updater.TargetDir)\runtimes\win-x86\native\e_sqlite3.dll" />
                        </Component>
                        <Component Id="cmp155ABE8BF40D52D2F6B3A7875E043870" Guid="*">
                            <File Id="fil66A3A2A31097182253475E3682AAA6B8" KeyPath="yes" Source="$(var.Spacearr.WorkerService.Windows.Updater.TargetDir)\runtimes\win-x86\native\libSkiaSharp.dll" />
                        </Component>
                    </Directory>
                </Directory>
            </Directory>
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <ComponentGroup Id="SpacearrWorkerServiceWindowsUpdaterHeatGenerated">
            <ComponentRef Id="cmp85B774700C435620BDD5395025CFA84D" />
            <ComponentRef Id="cmpB8FF7C2E3895572B186F0701EF78FAB5" />
            <ComponentRef Id="cmp3C83C90718D8148357F0DB5BEB6B64B2" />
            <ComponentRef Id="cmpB6A517D2EBD2E7AE86F76CC2E75BB1DB" />
            <ComponentRef Id="cmp644DC4DCA86CFA348301EFD685BDDEDC" />
            <ComponentRef Id="cmpE54FAD8572720C197F2CB9148B74EE44" />
            <ComponentRef Id="cmp1D2D19F44C1C8C6A051390027FBB39AB" />
            <ComponentRef Id="cmp56B420CBC34F837E693928E35907D536" />
            <ComponentRef Id="cmpA2EEBBE36780EFA5262C035CA87AB505" />
            <ComponentRef Id="cmpDF8F7BADC0D8C0248B00BC353EFF239D" />
            <ComponentRef Id="cmp4DDD08FA37E2B8C59D6E9BCC626D89CD" />
            <ComponentRef Id="cmp69F4A8071514857836FE236A568DB811" />
            <ComponentRef Id="cmpDBF645B6EDCB3E318F72F8AAA00D9337" />
            <ComponentRef Id="cmp62AFCB497D61F67D17861309785CD5CC" />
            <ComponentRef Id="cmpA3E39C19C7196A655D1714A8EEFDCC0F" />
            <ComponentRef Id="cmp471870C61CB573F7DC7B023D8B44CC1F" />
            <ComponentRef Id="cmp89D1012842F164BCF1F8B95B5D2FB5EA" />
            <ComponentRef Id="cmp316F89B01C5DAB47CBDB3CABB25E1831" />
            <ComponentRef Id="cmpA86EC9609CD0627B3C2C1C9A91CFB087" />
            <ComponentRef Id="cmp3F88B076AC4C287717F1637B59722661" />
            <ComponentRef Id="cmp1BE1FAB6EE23F9873C37C0388300B510" />
            <ComponentRef Id="cmp30F392D0072E68548CDC3EFDCA6421CD" />
            <ComponentRef Id="cmp598068513D7F37B1B85F3C2CB3C13CFE" />
            <ComponentRef Id="cmpC41BAA9E299B2920EDA79E5FE4B5340F" />
            <ComponentRef Id="cmpB53AA79EEBC53EE1BA8ACF9653238A1F" />
            <ComponentRef Id="cmpBA6C3F11408DB4C12682039A45747B39" />
            <ComponentRef Id="cmp7E083971BB0B9709A3E972BCD37CD242" />
            <ComponentRef Id="cmpB1217DD584223BDD42DF75A366EA3DF1" />
            <ComponentRef Id="cmp94E0EEAE5EB638F90573E706DEB407D8" />
            <ComponentRef Id="cmp7D69ADD27170394385D3C874374C7B2A" />
            <ComponentRef Id="cmpB43DE93D282D761A2F3B2F21FADE06AA" />
            <ComponentRef Id="cmpB3E6359E919B93BB9DE6BA36CB8A56C3" />
            <ComponentRef Id="cmpB0F0F349C087467A3CE446FB492264A7" />
            <ComponentRef Id="cmpC5EBD1784A0C0037330840394B88E69B" />
            <ComponentRef Id="cmp438DFFFFE750AD7CA62D3FC3FB6C48A3" />
            <ComponentRef Id="cmpC53E8808042C88C041A96FF720980A74" />
            <ComponentRef Id="cmpF2EE769E4302A50B3802BA5A3CE49DAC" />
            <ComponentRef Id="cmp5632750C7EC7B8578D0105C76BC0B9C5" />
            <ComponentRef Id="cmp0FB4FCCDF1AC43721B9DD0F68E53AAB4" />
            <ComponentRef Id="cmpE9E5443133D59BEF11FACF0F8844DF58" />
            <ComponentRef Id="cmp747D332DA3FFBCEC40CA53CAE1EEB36C" />
            <ComponentRef Id="cmp6DFBAD4F6828DFE4F2CA9D37BAC8FB43" />
            <ComponentRef Id="cmp11B74D89CB0186FF7A497ACD687A6BC8" />
            <ComponentRef Id="cmp0C922C8CDABDFE65BCC948C1C9EA2D08" />
            <ComponentRef Id="cmpB95EBFAF9D0335876532C7DCFD28CB67" />
            <ComponentRef Id="cmp1EE4A1546AAD7731D8AAEE02B1C72FD0" />
            <ComponentRef Id="cmp1A247330ECDD66422958C8CB514797D3" />
            <ComponentRef Id="cmpEFCE006D690B366CA239DC55FB17D6A7" />
            <ComponentRef Id="cmpAB8E70B93E07B1B98CAB49786F0DDF36" />
            <ComponentRef Id="cmp6B149A551E06E84F46E5F26BF327230B" />
            <ComponentRef Id="cmp5F23BE129756DB63A22341CD829A7F86" />
            <ComponentRef Id="cmpD972B8239916FE21FAD3C1332D3268E8" />
            <ComponentRef Id="cmp26B2162A9B2A7848613CA8E29768F231" />
            <ComponentRef Id="cmpC48A2EB60D6CF078DB06BED3DD7A4605" />
            <ComponentRef Id="cmp2B17DA3B0E6CBBB4C571A0847322F670" />
            <ComponentRef Id="cmpD10F13D4D54683858391BBF129BCA671" />
            <ComponentRef Id="cmpD943E0D7F446F7B0954317BE805C7699" />
            <ComponentRef Id="cmp971ECD6EB9909586A5C8A57932B0A699" />
            <ComponentRef Id="cmp7C34F85C80E63BDB301E797EF16093B4" />
            <ComponentRef Id="cmpF7CBD8DA8AA958D416B22BD7A4C06CD1" />
            <ComponentRef Id="cmp444B50E1121E49C75225156223CCB759" />
            <ComponentRef Id="cmp812360E3242155D69A8D805185B16DFC" />
            <ComponentRef Id="cmp454298EA370E8ABB2114ACE0A97BCA20" />
            <ComponentRef Id="cmp883F2520C8BE982C0057C93ABE9C75F2" />
            <ComponentRef Id="cmpEB166911D81C77A0F69F5DEF51BD65E3" />
            <ComponentRef Id="cmpD1EF0FBC6EE304103669E0CE5070951D" />
            <ComponentRef Id="cmp0B9D397F642F3AD924CB11DEBB44A66F" />
            <ComponentRef Id="cmp9DF9AD3D64623B9BFD9F52D7299379BB" />
            <ComponentRef Id="cmpA5D60BB072797463B1108AD03E67AE86" />
            <ComponentRef Id="cmp0665238B7B1DEFD8B5DCCD8FDB36287F" />
            <ComponentRef Id="cmpCEF5B5DE0A79089F4BB8583E169FCD0E" />
            <ComponentRef Id="cmp9EACAE1E39D6C406B75696C71DC99294" />
            <ComponentRef Id="cmpA33E38932860857C3888EE4EBA29B2F5" />
            <ComponentRef Id="cmp5135604F0E14792544250383EE360EC8" />
            <ComponentRef Id="cmp937D8FC038B5EEC86B2A6416EB53ABDF" />
            <ComponentRef Id="cmp8F3E720384074DB35643E3E227E7CAB5" />
            <ComponentRef Id="cmp977EE8FE0F83C35DCFEEBB585BC51C52" />
            <ComponentRef Id="cmp5A0F907B050151EBC13E472247B1E52A" />
            <ComponentRef Id="cmp1288FDF7524FF15654D3A284EF316166" />
            <ComponentRef Id="cmp35F0FD795E6E3AB9C564AF93AD5E7E78" />
            <ComponentRef Id="cmp4EE6792A0C5A18DB64C5E814D3495615" />
            <ComponentRef Id="cmp1C577E186ECCBF0158951E9C7B2EE01B" />
            <ComponentRef Id="cmp79BA00E869C0F57153311211F452282B" />
            <ComponentRef Id="cmp4B5A82AA2AD0DF3D290CE450372B0D7D" />
            <ComponentRef Id="cmp56E96ECFAA7F72C9D5F3ED454C6276B1" />
            <ComponentRef Id="cmp03332692BEAAA57C9039A326A624FB4F" />
            <ComponentRef Id="cmp2CA4F21C7A3B9DA1C41CF37F73CCA893" />
            <ComponentRef Id="cmpBB3BECDFF520B54C2EE38CF4A7DB71BF" />
            <ComponentRef Id="cmp9E5D9CE81577C7BE92E132363145EDCD" />
            <ComponentRef Id="cmp91B38CB0E6CEDBE2976D8F698B8BA8A7" />
            <ComponentRef Id="cmp0F59944E6CC4502A59F443BF7CC2DC54" />
            <ComponentRef Id="cmp8E9279CB4E99E3FDDDFDBA09B8120EC4" />
            <ComponentRef Id="cmp0367F6C2384A32B1364E5ACAC401E034" />
            <ComponentRef Id="cmp155ABE8BF40D52D2F6B3A7875E043870" />
        </ComponentGroup>
    </Fragment>
</Wix>