<?xml version="1.0" encoding="UTF-8"?>
<?define Name = "Spacearr.Windows.Service" ?>
<?define Manufacturer = "Spacearr" ?>
<?define UpgradeCode = "{5797E088-8A4F-451B-AF25-D336104BFEE9}" ?>

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product Id="*" UpgradeCode="$(var.UpgradeCode)" Version="$(var.VersionNumber)" Language="1033" Name="$(var.Name)" Manufacturer="$(var.Manufacturer)">
    <Package InstallerVersion="300" InstallScope="perMachine" InstallPrivileges="elevated" Compressed="yes" />
    <Media Id="1" Cabinet="Spacearr.Windows.Service.cab" EmbedCab="yes" />

    <!-- Allow upgrades and prevent downgrades -->
    <MajorUpgrade DowngradeErrorMessage="A later version of [ProductName] is already installed. Setup will now exit." AllowSameVersionUpgrades="yes" AllowDowngrades="no" Schedule="afterInstallInitialize" />

    <!-- Define the directory structure -->
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="ROOTDIRECTORY" Name="$(var.Manufacturer)">
          <Directory Id="INSTALLDIR" Name="$(var.Name)">
          </Directory>
        </Directory>
      </Directory>
    </Directory>

    <!-- Show Wix InstallDir step -->
    <UIRef Id="WixUI_InstallDir" />

    <!-- Show the custom Licence Agreement to display during install -->
    <WixVariable Id="WixUILicenseRtf" Value="$(var.Spacearr.Windows.Service.TargetDir)LicenceAgreement.rtf" />

    <!-- Set the InstallDir variable so that it can be passed to the Custom Action -->
    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLDIR" />

    <!-- Tell WiX to do the custom action -->
    <InstallExecuteSequence>
      <Custom Action="GetInstallDirectory" Before="ShowUpdateAppSettingsConfigurationAction" />
      <Custom Action='ShowUpdateAppSettingsConfigurationAction' After='InstallFiles'>NOT Installed</Custom>
    </InstallExecuteSequence>

    <!-- Add files to your installer package -->
    <DirectoryRef Id="INSTALLDIR">
      <Component Id="$(var.Spacearr.Windows.Service.TargetFileName)" Guid="*">
        <File Id="$(var.Spacearr.Windows.Service.TargetFileName)" Source="$(var.Spacearr.Windows.Service.TargetPath)" KeyPath="yes" />

        <!-- Remove the all files on uninstall -->
        <RemoveFile Id="ROOTDIRECTORY" Name="*.*" On="both" />

        <!-- Tell WiX to install the Service -->
        <ServiceInstall Id="ServiceInstaller" Type="ownProcess" Name="Spacearr.Windows.Service" DisplayName="Spacearr Windows Service" Description="A Windows service for Spacearr." Start="auto" ErrorControl="normal" />

        <!-- Tell WiX to start the Service -->
        <ServiceControl Id="StartService" Start="install" Stop="both" Remove="uninstall" Name="Spacearr.Windows.Service" Wait="yes" />
      </Component>
    </DirectoryRef>

    <!-- Tell WiX to install the files -->
    <Feature Id="MainApplication" Title="Spacearr Windows Service" Level="1">
      <ComponentRef Id="$(var.Spacearr.Windows.Service.TargetFileName)" />
      <ComponentGroupRef Id="SpacearrWindowsServiceHeatGenerated" />
    </Feature>
    <Property Id="ARPPRODUCTICON" Value="icon.ico" />
  </Product>

  <!-- Set up the Custom Action -->
  <Fragment>
    <Binary Id="CustomActionBinary" SourceFile="$(var.Spacearr.WixToolset.CustomAction.TargetDir)$(var.Spacearr.WixToolset.CustomAction.TargetName).CA.dll"/>
    <CustomAction Id="GetInstallDirectory" Property="ShowUpdateAppSettingsConfigurationAction" Value="InstallDirectory=[INSTALLDIR]"/>
    <CustomAction Id="ShowUpdateAppSettingsConfigurationAction" BinaryKey="CustomActionBinary" DllEntry="ShowUpdateAppSettingsConfigurationScreens" Execute="deferred" Return="check" Impersonate="no"/>
  </Fragment>
</Wix>