<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autofac" version="5.2.0" targetFramework="net48" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="1.1.0" targetFramework="net48" />
  <package id="Microsoft.CSharp" version="4.5.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.Configuration" version="3.1.1" targetFramework="net48" />
  <package id="Microsoft.Extensions.Configuration.Abstractions" version="3.1.1" targetFramework="net48" />
  <package id="Microsoft.Extensions.Configuration.FileExtensions" version="3.1.1" targetFramework="net48" />
  <package id="Microsoft.Extensions.Configuration.Json" version="3.1.1" targetFramework="net48" />
  <package id="Microsoft.Extensions.FileProviders.Abstractions" version="3.1.1" targetFramework="net48" />
  <package id="Microsoft.Extensions.FileProviders.Physical" version="3.1.1" targetFramework="net48" />
  <package id="Microsoft.Extensions.FileSystemGlobbing" version="3.1.1" targetFramework="net48" />
  <package id="Microsoft.Extensions.Primitives" version="3.1.1" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net48" />
  <package id="PusherClient" version="1.1.1" targetFramework="net48" />
  <package id="PusherServer" version="4.2.0" targetFramework="net48" />
  <package id="sqlite-net-pcl" version="1.7.335" targetFramework="net48" />
  <package id="SQLitePCLRaw.bundle_green" version="2.0.3" targetFramework="net48" />
  <package id="SQLitePCLRaw.core" version="2.0.3" targetFramework="net48" />
  <package id="SQLitePCLRaw.lib.e_sqlite3" version="2.0.3" targetFramework="net48" />
  <package id="SQLitePCLRaw.provider.dynamic_cdecl" version="2.0.3" targetFramework="net48" />
  <package id="SuperSocket.ClientEngine.Core" version="0.10.0" targetFramework="net48" />
  <package id="System.Buffers" version="4.5.0" targetFramework="net48" />
  <package id="System.Collections.Specialized" version="4.3.0" targetFramework="net48" />
  <package id="System.ComponentModel.Annotations" version="4.7.0" targetFramework="net48" />
  <package id="System.Diagnostics.TraceSource" version="4.3.0" targetFramework="net48" />
  <package id="System.IO" version="4.3.0" targetFramework="net48" />
  <package id="System.Linq" version="4.3.0" targetFramework="net48" />
  <package id="System.Memory" version="4.5.3" targetFramework="net48" />
  <package id="System.Net.NameResolution" version="4.3.0" targetFramework="net48" />
  <package id="System.Net.Security" version="4.3.0" targetFramework="net48" />
  <package id="System.Net.Sockets" version="4.3.0" targetFramework="net48" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net48" />
  <package id="System.Runtime" version="4.3.0" targetFramework="net48" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.7.0" targetFramework="net48" />
  <package id="System.Runtime.Extensions" version="4.3.0" targetFramework="net48" />
  <package id="System.Runtime.InteropServices" version="4.3.0" targetFramework="net48" />
  <package id="System.Security.Cryptography.Algorithms" version="4.3.0" targetFramework="net48" />
  <package id="System.Security.Cryptography.Encoding" version="4.3.0" targetFramework="net48" />
  <package id="System.Security.Cryptography.Primitives" version="4.3.0" targetFramework="net48" />
  <package id="System.Security.Cryptography.X509Certificates" version="4.3.0" targetFramework="net48" />
  <package id="System.Text.Encodings.Web" version="4.7.0" targetFramework="net48" />
  <package id="System.Text.Json" version="4.7.0" targetFramework="net48" />
  <package id="System.Text.RegularExpressions" version="4.3.0" targetFramework="net48" />
  <package id="System.Threading" version="4.3.0" targetFramework="net48" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.2" targetFramework="net48" />
  <package id="System.Threading.Timer" version="4.3.0" targetFramework="net48" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net48" />
  <package id="WebSocket4Net" version="0.15.2" targetFramework="net48" />
</packages>